@import "components/footer";
@import "components/body";
@import "base/list";
@import "base/mixins";

body {
    background-image: url(../Imagenes/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .logo {
        display: flex;
        justify-content: center;
    }

    p {
        color: nth($colors, 1);
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.video {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 200px;
}

.rules-container {
    display: grid;
    grid-template-areas: "r1 r1"
        "r2 r2"
        "r3 r3"
        "r4 r4"
        "r5 r5"
        "r6 r6"
        "r7 r7"
        "r8 r8"
        "r9 r9";
    row-gap: 20px;
    justify-content: center;

    .rule-1 {
        grid-area: r1
    }

    .rule-2 {
        grid-area: r2
    }

    .rule-3 {
        grid-area: r3
    }

    .rule-4 {
        grid-area: r4;
    }

    .rule-5 {
        grid-area: r5
    }

    .rule-6 {
        grid-area: r6
    }

    .rule-7 {
        grid-area: r7
    }

    .rule-8 {
        grid-area: r8
    }

    .rule-9 {
        grid-area: r9;
    }
}

.list-staff {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.campo-rellenar {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 60px);
}

.sec-white {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, 300px);
}

.text-right {
    margin-top: 100px;
}

.img-whitelist:hover {
    transform: scale(1) translateX(50px);
    transition: all 0.8s;
}

@media screen and (max-width: 1000px) {
    .video-container {
        display: none;
    }

    .eslogan1 {
        margin-right: 400px;
    }
}

@media screen and (max-width: 860px) {
    .sec-white {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .boton {
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px) {
    .list-staff {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    .eslogan1 {
        display: none;
    }
}