/* Busque en una página para fondos y copie las etiquetas */
body {
    background-image: url(Imagenes/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo:hover {
    transform: scale(1.5);
    transition: all 1.5s ease;
}

.nav-container {
    background-color: #e43fbb5d;
    position: sticky;
    top: 0;
    bottom: 0;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    list-style: none;
    grid-template-columns: repeat(320px, 1fr);
}

a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.Video {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 200px;
    flex-wrap: wrap;
    min-width: 200px;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 320px;
}

.image-1:hover {
    transform: scale(3) translateX(150px) translateY(-50px);
    transition: all 1.5s ease;
}

.image-2:hover {
    transform: scale(3) translateX(50px) translateY(-50px);
    transition: all 1.5s ease;
}

.image-3:hover {
    transform: scale(3) translateX(-100px) translateY(-50px);
    transition: all 1.5s ease;
}

.image-4:hover {
    transform: scale(3) translateX(-150px) translateY(-50px);
    transition: all 1.5s ease;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 320px;
}

.footer-container {
    list-style: none;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 50px);
    flex-wrap: wrap;
    min-width: 320px;
}

.redes-content {
    list-style: none;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: repeat(2, 1px);
    column-gap: 40px;
}

.eslogan1 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    min-width: 320px;
}

.rules-container {
    display: grid;
    grid-template-columns: 900px 900px;
    grid-template-rows: repeat(4, 1060px);
}

.ruler-content {
    display: flex;
    justify-self: center;
}

.rule-9 {
    margin-left: 900px;
}

.lista-staff {
    list-style: none;
}

p{
    color: white;
    font-size: 20px
}

.img-whitelist:hover {
    transform: scale(1) translateX(80px);
    transition: all 1.5s ease;
}